@model Department

<form method="post" asp-action="Edit" asp-controller="Department">
    <div>
        <label asp-for="name"></label>
        <input asp-for="name" class="form-control" />
    </div>
    <div>
        <label asp-for="manager"></label>
        <input asp-for="manager" class="form-control" />
    </div>
    <div>
               <input asp-for="id" class="form-control" type="hidden"/>
    </div>
   
    <br />

    <input type="submit" value="Create" class="btn btn-success" />
   
</form>