@model MVC.ViweModels.CourseVM
@{
    ViewData["Title"] = "New";
    Layout = "_CourceLayout";
    SelectList depts = new SelectList(Model.Departments, "id", "name");
}

<h1>Edit Course</h1>
<form method="post" asp-action="Edit" asp-controller="Course">
    <div>
        <label asp-for="name"></label>
        <input asp-for="name" class="form-control" />
    </div>
    <div>
        <label asp-for="degree"></label>
        <input asp-for="degree" class="form-control" />
    </div>
    <div>
        <label asp-for="mindegree"></label>
        <input asp-for="mindegree" class="form-control" />
    </div>  
    
    <div>
        <label>Departments</label>        
        <select name="Dept_ID" id="Dept_ID" class="form-control">
            @foreach (Department itemDept in Model.Departments)
            {
                @if (Model.Dept_ID == itemDept.id)
                {
                    <option value="@itemDept.id" selected>@itemDept.name</option>
                }
                else
                {
                    <option value="@itemDept.id">@itemDept.name</option>
                }
            }
        </select>
    </div>
    <br />
    <br />
    <input type="submit" value="Create" class="btn btn-success" />
    

</form>
<br />
<button type="button" class="btn btn-primary"><a asp-action="Index" asp-controller="Course" style="text-decoration:none;color: white">Back To List</a></button>

